.footer {
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  font-weight: 500;
  border-top: 1px solid #222;
  user-select: none;
}
.footer p {
  margin: 5px 0;
}
